*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  gap: 1rem;
  display: flex;
}

main .left,
main .right{
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}
main .left{
  background-color: black;
  position: relative;

}

.left .code,
.code pre,
.code pre code {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
  background-color: rgb(19, 19, 19);
}


main .left .review{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(226, 226, 254);
  color: black;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.4rem;
}

main .right{
  background-color: rgb(200, 198, 198);
  font-size: 1.5 rem;
  padding: 1rem 2rem;
  overflow: auto;
}